body{
    background-color: forestgreen;
}
h1{

}
#playfield{
    position: absolute;
    right: 250px;
    top: 250px;
}

#cpt{
    position: absolute;
    right: 200px;
}

table{
    border-collapse: separate;
    border-spacing: 100px 50px;
}

td{
    height: 181px;
    width:  125px;
    border: dashed;
}